body
{
    font-size: 16px;
    color: #414141;
}

.container
{
    display: grid;
    grid-template-columns: 25% 500px 25%; 
    grid-template-rows: 300px 300px 300px 300px;
}

.item
{
    background-color: chocolate;
    padding: 10px;
    border: 1px solid blue;
}